button, .button {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 30px;
    box-shadow: -4px -4px grey; 
    border: none;
    text-transform: capitalize;
    font-size: 0.8rem;
}

button:hover, .button:hover {
    box-shadow: -4px -4px $red;
}

header button {
    width: 15%;
    padding: 15px 5px;
}

main button {
    width: 110px;
    padding: 5px;
    margin: 5px;
}
