header {
    overflow: hidden;

    img {
        position: absolute;
        z-index: -1;
    }

    .longBloodDrip {
        width: 30%;
        left: -5%;
        top: -15%;
    }

    .bloodSplat {
        width: 35%;
        bottom: 0;
        left: -3%;
    }

    .bloodDrip {
        width: 30%;
        top: -15%;
        right: 0;
    }

    .headerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    }
}