header {
    overflow: hidden;

    .longBloodDrip {
        width: 30%;
        position: absolute;
        left: -5%;
        top: -15%;
    }

    .bloodSplat {
        width: 35%;
        height: 50vh;
        position: absolute;
        bottom: 0;
        left: -3%;
    }

    .bloodDrip {
        width: 30%;
        position: absolute;
        top: -9%;
        right: 0;
    }

    .headerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    }
}