body {
    background: $black;
}


.question {
    display: none;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 1;   
    
    .questionContainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        .answerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-around;
            padding-left: none;
            list-style: none;

                label {
                    font-size: 0.7rem;
                    margin-left: 10px;
                }
            }    
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }
    };

}

.results {
    display: none;
    position: relative;
    z-index: 1;
}

footer {
    display: none;
}

