
body {
    color: white;
    font-family: 'Biryani', sans-serif;
    font-size: 62.5%;
}

h1 {
    font-family: 'Nosifer', sans-serif;
    font-size: 3.5rem;
    font-weight: light;
}

h2 {
    font-family: 'Nunito', sans-serif;
}
